a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%)
  }
}

h1 {
  margin-top: 0;
}

h1, h2, h3, h4 {
  color: #2c3e50
}

pre {
  background: #f8f8f8;
  color: #525252;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #f2f2f2;
  }
}

.text-center {
  text-align: center;
}